.App {
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 1.5rem;
  /* width: 70%; */
}

/* .ProfilePhoto {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Adress {
  color: yellowgreen;
}

.FullName {
  color: blueviolet;
} */